//Variables
$boxBackground : black;
$boxFont : white;
$boxHeight : 100px;
$centeredText : center;

$topbar-responsive-bg: #444444;
$white: white;

$black : black;
$lightgrey: lightgrey;

$promoPadding-Top : 1.25em;
$promoFontColor : grey;
$promoFontSize : 2em;

$galFontColor : lightblue;

$pop-margin-top : 1.25em;
$pop-text-size : 1.25em;
$pop-buttom-width : 8.333em;
$pop-button-height : 2em;
$pop-button-top : 1.25em;

$fontFam : 'Roboto', sans-serif;
$black : black;
$headerSolid : 0.083em;
$headerBot : 0.833em;
$nav-top : 2.5em;
$navFontFam : "Arial", Sans-serif;
$navFontColor : black;
$nav-font-mobile : 1em;
$navHeight : 2.25em;
$navMargin : 1.3em;
$letterSpace : 1.5em;
$radius : 40%;
$footerFont: 2.5em;
$portFtext : 1.25em;
$imgRadius : 0.417em;
$modPadding : 8.333em;
$contModal : 58.333em;
$closeTop : 1.25em;
$closeRight : 2.917em;
$closeColor :  #f1f1f1;
$closeFont : 3.333em;
$nav-font-desktop : 1.25em;
$info-title-desktop: 2.25em;
$info-margin-desktop : 1.3em;
$port-title-desktop : 2.25em;
$line-space-desktop : 3em;
$image-radius-desktop : 0%;
$instruction-font-Desktop : 1.25em;
$port-margin-desktop : 2.25em;

$primary-color : grey;